@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

pre{
    white-space: pre-line;
}

html, body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-bottom: 2em;

}

section > p{
    padding-bottom: 2em;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgb(61, 61, 61);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377) ;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.336);
}

section#img01{
    background-image: url(../imagens/background001.jpg);
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
